@(title: String)(content: Html)


<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/todos.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/mustache.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backboneCQRS-0.5.0.js")" type="text/javascript"></script>
    </head>
    <body>
        <header class="logout">
            <a href="@routes.Application.logout()">Logout</a>
        </header>
        @content

    </body>
</html>
